<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12" ng-if="!isSent">
    	<form  ng-submit="requestResetPwd(email)">
		    <fieldset>
		      <legend>Reset password form</legend>
		      <div>
		        <label for="email">Email:</label>
		        <input type="email" name="email" ng-model="email" required  />
		      </div>
		      <div>
		        <input type="submit" value="Reset password"/>
		      </div>
		    </fieldset>
		</form>
    </div>
    <div class="col-sm-12" ng-if="isSent">
    	<h3>Password reset requested</h3>
    	<p>Check your email for further instructions</p>
    </div>
  </div>
</div>